.tabs-content{
    padding-top: 1.5em;
    padding-bottom: 5vh;
}

.comment-item{
    position: relative;
    padding: 1em 0.5em 0.5em 2em;
    margin-top: 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background: #F5F5F5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.student-info{
    padding-top: 1.5em;
}

.form-comments{
    margin-top: 1em;
    margin-bottom: 1em;
}

#slider-range{
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment-content{
    float:right;
}
.img-comment{
    width: 3em;
    float:left;
}

#comments-list{
    margin-bottom: 3em;
}

#slider-range-comment{
    margin-top: 1em;
    margin-bottom: 2em;
}