html,
body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Raleway';
}
#wrapper {
    min-height:100%;
    position:relative;
}

#content {
    padding-bottom:25ex; /* Height of the footer element */
}
/* Menu */

.vcenter{
    top: 30%;
}

#cabecera {
    background: transparent linear-gradient(to bottom, #02679A 0%, #018DB7 100%) repeat scroll 0 0;
    height: 15vh;
    color: #ffffff;
}

#cabecera a{
    color: #ffffff;
}

.nav-collapse{
    margin-right: 50%;
}

#link_login:hover, #link_login:active, #link_logout:hover,#link_logout:active{
    background-color: transparent;
    color: #01c0ea;
}
#link_sign_up:hover{
    background-color: transparent;
    color: #01c0ea;
}

.flag {
    width: 16px;
    height: 11px;
    background:url('../images/flags.png') no-repeat;
}

.flag.flag-es {background-position: -16px 0}
.flag.flag-fr {background-position: 0 -11px}
.flag.flag-en {background-position: -16px -11px}

.language_bar_chooser > li{
    display: inline-block;
    margin-top: 50%;
}

#herramientas {
    z-index: 2;
    position: relative;
}

.navbar-right > li > a > img.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

img.profile-image{
    width: 4em;
}

.navbar {
    margin: 0px !important;
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#desplegable-menu nav div ul li:hover > a.menu-title{
    background-color: #018DB7;
}


/* end Menu */

li {
    list-style-type: none;
    padding: 0.5em 0.5em 0em 0em;
}

a[role=menuitem]{
    border-radius: 0px 0px 35px 35px;
}

a[role=menuitem]:hover{
    color: #018DB7;
}

/* Menu desplegable */

#wrap-menu-navbar {
    border-radius: 0px 0px 35px 35px;
    background: none repeat scroll 0 0 rgba(70, 98, 115, 0.95);
    border-color: rgba(51, 51, 51, 0.40) !important;
}

#wrap-menu a[role=button]{
    color:#FFFFFF;
}

#wrap-menu{
    background-color: transparent;
}

/*a[role='menu-login-item']:hover{*/
    /*background-color: red;*/
    /*color: #01c0ea;*/
/*}*/

.dropdown-menu {
    border-radius: 0px 0px 35px 35px;
    /*height: 20ex;*/
    width: 100%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

/* end Menu desplegable */

/* Carousel */

.carousel {
    border: 1px solid black;
}

.carousel-inner {
    height: 60vh;
    width: 100%;
    margin-top: -100px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-inner > .item > img{
    width:100%;
    height:60vh;
}

.thumbnail{
    height: 40vh;
    width: 100%;
}

.btn-thumbnail{
    position: absolute;
    left: auto;
    bottom: 5%;
}

.thumbnail > img{
    height: 12vh;
    width: 100%;;
}

/* end Carousel */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.image {
    position: relative;
}

.image .text {
    position: absolute;
    top: 1.5em;
    left: 35%;
}

/* Footer */

#footer {
    background: transparent linear-gradient(to bottom, #16445B 0%, #02679A 100%) repeat scroll 0 0;
    color: #FFFFFF;
    height: 15vh;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    margin-top: 2em;
}

#footerContent {
    display:table;
    width: inherit;
    height: inherit;
}

#leftFooter {
    display:table-cell;
    vertical-align: middle;
    text-align:left;
    margin-top:3.5vh;
}

#rightFooter {
    display:table-cell;
    vertical-align: middle;
    text-align:right;
    margin-right: 1em;
    float: left;
    margin-top:3.5vh;
}

#rightFooter .fa {
    color: rgba(255, 255, 255, 0.5) !important;
    margin-right: 3px;
}

#facebook-footer-square:hover, #twitter-footer-square:hover {
    color: rgba(255, 255, 255,1)!important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/* Cambio de estilo del botón */

.btn-success{
    margin: 1.5em 1.5em  1.5em 1.5em;
    background-color: #018DB7;
}

.btn-success:hover{
    background-color: #02679A;
}

/* end footer */

