.image{
    width: 7em;
    height: 7em;
}

.result:hover{
    background-color: #FAFAFA;
}

.block{
    margin-top: 3em;
    margin-left: 1em;
    border: 1px black solid;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
}

.title-block{
    text-align: center;
    background-color: #F8F8F8;
}

#amount{
    border: 0;
    color: #f6931f;
    font-weight: bold;
}

#slider-range{
    margin-bottom: 1em;
}

#footer{
    margin-top: 4.25em;
    position:relative;
}