.service{

    position: relative;
    padding: 1em 0.5em 0.5em 2em;
    margin-top: 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background: #F8F8F8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.image-service{
    display: inline-block;
    height: 100%;
    width: 15em;
}

.image{
    display: block;
    float:left;

}

.image-profile{
    height: 20em;;
}

.text-info{
    float: left;

}

.extra-info{
    margin-top: 1em;
    margin-left: 1em;
}

#footer{
    overflow:hidden;
    position: relative;
}