#sign-up-student-form{
    z-index: 1;
    position: relative;
}

#sign-up-supplier-form{
    z-index: 1;
    position: relative;
}

/* TODO:: Hay que arreglarlo de otra forma */

#footer{
    margin-top: 2em;
    z-index: -1;
    position: relative;
}