#first-row{
    margin-top:12vh;
}
#apply-box{
    margin-top: -7em;
    height: 40vh;
}

.input-group-apply{
    margin-bottom: 1em;
}

.carousel-inner {
    height: 40vh;
    width: 100%;
}

.carousel-inner > .item > img{
    width:100%;
    height:40vh;
}

.sidebar{
    background-color: #FAFAFA;
    border: 1px solid #DADADA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0px 30px 10px;
    z-index: 1000;
    margin-top: -6vh;
}

#apply-box{
    z-index: 0;
}

.img-supplier{
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
}

.info-supplier {
    margin-top: 15px;
}

ul.tabs{
    border-bottom: 2px solid #16445B; 
}

span.glyphicon, span.glyphicon-star-empty{
    font-size: 1.2em;
}

.glyphicon-star-empty{
    color: #E5E825;
}

.tabs-content{
    padding-top: 1.5em;
    padding-bottom: 5vh;
}

.comment-item{
    position: relative;
    padding: 1em 0.5em 0.5em 2em;
    margin-top: 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background: #F5F5F5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.student-info{
    padding-top: 1.5em;
}

.form-comments{
    margin-top: 1em;
    margin-bottom: 1em;
}

#slider-range{
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment-content{
    float:right;
}
.img-comment{
    width: 3em;
    float:left;
}

.img-service{
    margin-bottom: 1.5em;
}

#comments-list{
    margin-bottom: 3em;
}

#slider-range-comment{
    margin-top: 1em;
    margin-bottom: 2em;
}

#tags{
    display: block;
}

#date-call{
    position: relative;
    z-index: 10000;
}

#footer{
    background: transparent linear-gradient(to bottom, #16445B 0%, #02679A 100%) repeat scroll 0 0;
    color: #FFFFFF;
    height: 15vh;
    width:100%;
    position:relative;
    bottom:0;
    left:0;
}

